h1 {
    text-align: left;
    font-size: 24px;
    color: #aa3333;
}

h2 {
    text-align: left;
    font-size: 20px;
    color: #dd5a3a;
    border-bottom: 1px solid #dd5a3a;
    margin-top: 55px;
}

img {
    border-radius: 5px;
    border: 1px solid #aa3333;
}

.info,
.title-image {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.info {
    padding-top: 45px;
    padding-left: 55px;
}

a {
    text-decoration: none;
    color: darkred
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-top: 5px;
}

.hobies li {
    display: inline-block;
}

.hobies li:after {
    content: ', ';
}

.hobies li:last-of-type:after {
    content: '';
}
